* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
 background-color:rgba(255, 255, 255, 1);
}
/* navbar */
.nav {
    /* background-color:red; */
     position: fixed; 
    /* position: sticky; */
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 15px 5px;
    display:flex;
    justify-content: space-between;
    /* z-index: 1000;  */
    

}
.nav h1 {
    padding: 18px 5px 15px 5px;
}

.nav ul{
    display: flex;
    list-style-type:none;
}

.nav li{
    padding:20px 10px 10px 10px;
    
}

.nav a {
    text-decoration:none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* konten */

.content {
    /* background-color: #f7f7f7; */
    display:flex;
    margin: auto;
}

.tentang{
    background-image:linear-gradient(
        to bottom,
        white 0%,
        #F9FBFB 100%
    );
    border-radius: 20px 10px 80px 10px;
    margin-right:10px;
    margin-top:100px;
    margin-left:50px;
    height: 500px;
    padding-right:300px
    

}
.tentang h1{
    /* background-color:blue; */
    margin: 150px 0px 0px 80px;
    font-size: 70px;
    
}

.tentang h3{
    margin-left: 80px;
    font-size: 20px;
}

/* .tentang button {
    margin: 100px 10px 0px 200px;
    color: white;
    background-color: black;
    height:30px;
    padding: 5px 5px 5px 5px;
} */

.gambar-profil img {
 background-color:F9FBFB;
 width: 110;
height: 600px;
object-fit: cover;
 object-position: center;
  
}

/* backround */

.background-section{
    /* background-color: #f7f7f7; */
    /* display:flex; */
    /* margin: auto; */

}

.background-section img{
width: 60%;
height: 350px;
object-fit: cover;
 object-position: center;
border-radius: 40px 20px 60px 90px;
margin-top: 150px;
margin-left:250px
}

/* .background-foto {
    margin: 130px 100px 3px 700px;
    height:40px;
    font-weight: bold;
} */

.tentang-section {
    /* background-color:red; */
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px 0px 350px;
}

/* project */
.judul-project{
    /* background-color: red; */
    margin: 100px 400px 10px 625px;
    height:40px;
    font-weight: bold;

}

.my-project {
    /* background-color: #f7f7f7; */
    display:flex;
    margin-left: 70px ;
}

.persentasi-project{
    /* background-color:green; */
    margin-left:250px;
    margin-top:20px;
    padding:10px;
    height:70px;
    text-align:center;
    font-weight: bold;

}

/* project */

.front-project{
    /* background-color: red; */
    display:flex;
    margin-left:100px;
    margin-top: 50px;
}

.front-project img{
    weight:300px;
    height:200px;
}

.front-project h2{
    margin: 10px 0px 0px 40px;
    font-size:40px;
}

.front-project p{
    margin: 60px 0px 0px 0px;
    font-size:20px;
}

/* footer */

.footer{
    background-color:grey;
    display:flex;
    justify-content: space-between;
}

.sosial{
    /* background-color:red; */
    /* display:flex; */
    justify-content: space-between;
    margin: 10px 10px 10px 40%;
    padding: 5px 5px 5px 5px;
}

.sosial p {
    padding: 5px 5px 5px 0px;
    font-size:20px;
    font-weight:bold;
}
.sosial h3 {
    /* background-color: green; */
    margin-left:30px;
    margin-top:4px;
    font-size:20px;
}

/* ukuran hp */


@media (max-width: 600px) { 

  body {
     overflow-x: hidden;
    font-size: 15px;
    
  }

    /* navbar */

.nav {
    /* background-color:red; */
     position: fixed; 
    /* position: sticky; */
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 15px 5px;
    display:flex;
    justify-content: space-between;
    
    

}
.nav h1 {
    padding: 18px 5px 15px 5px;
    font-size:20px;
}

.nav ul{
    display: flex;
    list-style-type:none;
}

.nav li{
    padding:20px 10px 10px 10px;
    
}

.nav a {
    text-decoration:none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

/* konten */

.content {
    /* background-color: red; */
    display:flex;
    justify-content: space-between;
    margin: auto;
    

}

.tentang{
     /* background-color:red; */
    background-image:linear-gradient(
        to bottom,
        white 0%,
        #F9FBFB 100%
    );
   
    border-radius: 20px 10px 80px 10px;
    margin-right:2px;
    margin-top:50px;
    margin-left:1px;
    height: 230px;
    padding-right:1px
    

}
.tentang h1{
    /* background-color:blue; */
    margin: 50px 0px 0px 5px;
    font-size: 25px;
    
}

.tentang h3{
    margin-left: 5px;
    font-size: 10px;
    margin-top:7px;
}

/* .tentang button {
    margin: 100px 10px 0px 200px;
    color: white;
    background-color: black;
    height:30px;
    padding: 5px 5px 5px 5px;
} */

.gambar-profil img {

width: 115px;
height: 200px;
margin-top:25px;
margin-right:20px;
/* object-fit: cover;
object-position: center; */
  
}

/* backround */

.background-section{
    /* background-color: #f7f7f7; */
    /* display:flex; */
    /* margin: auto; */

}

.background-section img{
width: 83%;
height: 200px;
object-fit: cover;
object-position: center;
border-radius: 40px 20px 60px 90px;
margin-top: 0px;
margin-left:25px
}

/* .background-foto {
    margin: 130px 100px 3px 700px;
    height:40px;
    font-weight: bold;
} */

.tentang-section {
    /* background-color:red; */
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0px 0px 20px;
}

/* project */
.judul-project{
    /* background-color: red; */
    margin: 70px 0px 10px 80px;
    margin-top:40px;
    padding-left:30px;
    height:20px;
    font-weight: bold;
    font-size:25px;

}

.my-project {
    /* background-color: #f7f7f7; */
    display:flex;
    margin-left: 40px ;
}

.persentasi-project{
    /* background-color:green; */
    font-size:15px;
    margin-left:10px;
    margin-top:5px;
    padding:10px;
    height:50px;
    text-align:center;
    font-weight: bold;
    

}

/* project */

.front-project{
    /* background-color: red; */
    /* display:flex; */
    margin-left:10px;
    margin-top: 30px;
}

.front-project img{
    weight:0px;
    height:110px;
}

.front-project h2{
    margin: 5px 0px 0px 20px;
    font-size:20px;
}

.front-project p{
    margin: 10px 0px 0px 0px;
    font-size:10px;
    
}

/* footer */

.footer{
    background-color:grey;
    display:flex;
    /* justify-content: space-between; */
    margin-top:20px;

}

.sosial{
    /* background-color:red; */
    display:flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10%;
    padding: 5px 5px 5px 5px;
}

.sosial p {
    padding: 5px 15px 5px 0px;
    font-size:15px;
    font-weight:bold;
}
.sosial h3 {
    /* background-color: green; */
    margin-left:30px;
    margin-top:4px;
    font-size:15px;
}
 }